@model CarShowRoom.Models.Bill

@{
    ViewData["Title"] = "Оплата заказа";
    var orders = (IList<CarShowRoom.Models.Order>)ViewData["Orders"];
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8"> <h4> @ViewData["Title"] </h4></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <table class="table table-hover table-striped datagrid">
                        <thead>
                            <tr>
                                <th class="col-md-1"></th>
                                <th>
                                    № Заказа
                                </th>
                                <th>
                                    Цена
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in orders)
                            {
                                <tr>
                                    <td>
                                        <input type="radio" name="OrderId" value="@order.Id">
                                    </td>
                                    <td>
                                        @order.ToString()
                                    </td>
                                    <td>@order.Price  / @order.NotPaid()</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="form-group">
                        <label asp-for="Amount" class="control-label">Сумма</label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Оплатить" class="btn btn-default btn-primary" />
                    </div>

                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Назад</a>
        </div>
    </div>

    

</div>