@using CarShowRoom.Models;

@{
    ViewData["Title"] = "Склады";

    var cars = (IList<Car>)ViewBag.Cars;
}

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8"> <h4> Автомобили </h4></div>
                    <div class="col-md-4 text-right">
                        <a class="btn btn-primary" asp-action="CreateCar"><span class="glyphicon glyphicon-plus"></span> &nbsp; Заказать</a>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-hover table-striped datagrid">
                    <thead>
                        <tr>
                            <th>
                                Название
                            </th>
                            <th>
                                Цена
                            </th>
                            <th>
                                Склад
                            </th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in cars)
                        {
                        <tr>
                            <td>
                                <a asp-action="EditCar" asp-route-id="@car.Id">
                                    @car.ToString()
                                </a>
                            </td>
                            <td>@car.Price</td>
                            <td>@((car.Depot!=null)?car.Depot.Name:"заказана")</td>
                            <td class="text-right">
                                <a class="btn btn-outline btn-default btn-xs " asp-action="AssignCarDepot" asp-route-id="@car.Id"><span class="glyphicon glyphicon-arrow-down"></span> &nbsp; Принять</a>
                                <a class="btn btn-outline btn-default btn-xs " asp-action="DeleteCar" asp-route-id="@car.Id"><span class="glyphicon glyphicon-remove"></span> &nbsp; Удалить</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>