@model CarShowRoom.Models.Order

@{
    ViewData["Title"] = "Информация о наряде";
}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12"><h4> @ViewData["Title"] </h4></div>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        Номер
                    </dt>
                    <dd>
                        @Model.ToString()
                    </dd>
                    <dt>
                        Клиент
                    </dt>
                    <dd>
                        @Model.Client.ToString()
                    </dd>
                    <dt>
                        Оплачен
                    </dt>
                    <dd>
                        @if (Model.IsPaid())
                        {
                            <span>оплачен</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </dd>
                    <dt>
                        Стоимость
                    </dt>
                    <dd>
                        @Model.Price
                    </dd>

                    <dt>
                        Статус
                    </dt>
                    <dd>
                        @if (Model.Done)
                        {
                            <span>выполнен</span>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </dd>
                </dl>

                @if (Model.Services.Count > 0 || Model.IsSell)
                {
                    <h5>Услуги</h5>
                    <table class="table table-hover table-striped">
                        <tbody>
                            @if (Model.IsSell)
                            {
                                <tr>
                                    <td>Выдача автомобиля: @Model.Car.ToString()</td>
                                </tr>
                            }

                            @foreach (var item in Model.Services)
                            {
                                <tr>
                                    <td>@item.Service.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @if (Model.Parts.Count > 0)
                {
                    <h5>Запасные части</h5>
                    <table class="table table-hover table-striped">
                        <tbody>
                            @foreach (var item in Model.Parts)
                            {
                                <tr>
                                    <td>@item.PartType.Name/td>
                                    <td>@item.Count/td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <div class="col-md-12">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
                    <a asp-action="Index">К списку</a>
                </div>
            </div>
        </div>
    </div>
    @if (!Model.Done)
    {

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12"><h4> Действия </h4></div>
                    </div>
                </div>

                <div class="panel-body">

                    @if (Model.IsPaid())
                    {
                        <div style="margin-bottom:20px">
                            <form asp-action="Complete">
                                <input hidden asp-for="Id" />
                                <div class="form-group">
                                    <input type="submit" value="Выполнить" class="btn btn-primary col-md-12" />
                                </div>
                            </form>

                        </div>
                    }

                    <div>
                        <form asp-action="Delete">
                            <input hidden asp-for="Id" />
                            <div class="form-group">
                                <input type="submit" value="Удалить" class="btn btn-danger col-md-12" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    }
</div>