@model CarShowRoom.Models.Client

@{
    ViewData["Title"] = "Информация о клиенте";
}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12"><h4> @ViewData["Title"] </h4></div>
                </div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        Фамилия
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        Имя
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt>
                        Отчество
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MiddleName)
                    </dd>

                    <dt>
                        Адрес
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt>
                        Телефон
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt>
                        Email
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Стадия
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Stage)
                    </dd>
                    <dt>
                        Аккаунт менеджер
                    </dt>
                    <dd>
                        @Model.Account?.ToString()
                    </dd>
                </dl>

                <div class="col-md-12">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
                    <a asp-action="Index">К списку</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9"><h4> Автомобили </h4></div>
                    <div class="col-md-3 text-right">
                        <a class="btn btn-primary" asp-action="CreateCarOrder" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-plus"></span> &nbsp; Заказать</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped datagrid">
                    <thead>
                        <tr>
                            <th>
                                Название
                            </th>
                            <th>
                                Цена
                            </th>
                            <th>
                                Склад
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in Model.Cars)
                        {
                            <tr>
                                <td>
                                    @car.ToString()
                                </td>
                                <td>@car.Price</td>
                                <td>@((car.Depot != null) ? car.Depot.Name : "заказана")</td>
                                <td>
                                    @if (!car.Sold)
                                    {
                                        <a class="btn btn-outline btn-default btn-xs " asp-action="DismissOrder" asp-route-id="@Model.Id" asp-route-carid="@car.Id"><span class="glyphicon glyphicon-remove"></span> &nbsp; Отменить</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9"><h4> Услуги и запчасти </h4></div>
                    <div class="col-md-3 text-right">
                        @if (Model.Cars.Count > 0)
                        {
                            <a class="btn btn-primary" asp-action="CreateOrder" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-plus"></span> &nbsp; Заказать</a>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped datagrid">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                №
                            </th>
                            <th>
                                Краткое описание
                            </th>
                            <th>
                                Цена
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Orders)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Orders" asp-action="Details" asp-route-id="@item.Id">
                                        @item.ToString()
                                    </a>
                                </td>
                                <td>
                                    @item.GetShortDescription()
                                </td>
                                <td>
                                    @item.Price
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
