@using CarShowRoom.Models;
@using CarShowRoom.Extensions;
@model IEnumerable<CarShowRoom.Models.Client>

@{
    ViewData["Title"] = "Клиенты";

    var filterList = Html.GetEnumSelectList<Stage>().ToList();
    filterList.Insert(0, new SelectListItem { Value = "-1", Text = "Все" });

    var stats = (Dictionary<Stage, int>)(ViewBag.Stats);
}

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6"> <h4> @ViewData["Title"] </h4></div>
            <div class="col-md-4">
                <div class="col-md-4" style="padding-top:6px">
                    <label class="control-label">Отображать:</label>
                </div>
                <div class="col-md-8">
                    <select class="col-md-7 form-control" id="stage-filter" asp-items='new SelectList(filterList, "Value", "Text", "-1")'></select>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> &nbsp; Добавить</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="white-space:nowrap; padding:0px;margin-top:5px; font-size:10px;">
                @foreach (var stage in stats.Keys.OrderBy(x => x))
                {
                    if (stats[stage] > 0)
                    {
                        <span class="text-center" style="color:white;display:inline-block;background-color:@Html.GetStageColor(stage);width:@(stats[stage])%;">@(stats[stage])%</span>
                    }
                }
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table id="client-list" class="table table-hover table-striped datagrid-ordering">
            <thead>
                <tr>
                    <th>
                        Фамилия Имя Отчество
                    </th>
                    <th>
                        Телефон
                    </th>
                    <th>
                        Email
                    </th>
                    <th class="col-md-2">
                        Стадия
                    </th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.LastName)
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </a>
                        </td>
                        <td>
                            <a href="@($" tel:{item.Phone}")">
                                @Html.DisplayFor(modelItem => item.Phone)
                            </a>
                        </td>
                        <td>
                            <a href="@($" mailto:{item.Email}")">
                                @Html.DisplayFor(modelItem => item.Email)
                            </a>
                        </td>
                        <td>
                            <span class="badge" style="background-color :@Html.GetStageColor(item.Stage)">
                                @Html.DisplayFor(modelItem => item.Stage)
                            </span>
                        </td>
                        <td class="text-right">
                            @if (item.Stage != Stage.Denied && item.Stage != Stage.Contracted)
                            {
                                <a class="btn btn-outline btn-default btn-xs " asp-action="NextStage" asp-route-id="@item.Id"><span class="glyphicon glyphicon-play"></span> &nbsp; Этап</a>
                            }

                            @if (item.Stage == Stage.Denied)
                            {
                                <a class="btn btn-outline btn-default btn-xs " asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> &nbsp; Удалить</a>
                            }
                            <a class="btn btn-outline btn-default btn-xs" asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span> &nbsp; Изменить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(function () {
            $("#stage-filter").change(
                function () {
                    var stageId = $("#stage-filter option:selected").val();

                    if (stageId == -1) {
                        $("#client-list").DataTable().column(3).search("").draw();
                    } else {
                        var stage = $("#stage-filter option:selected").text();
                        $("#client-list").DataTable().column(3).search(stage).draw();
                    }
                }
            )
        });
    </script>
}
